*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*========================
Header Area
==========================*/

.header {
  display: flex;
  gap: 20px;
  padding: 20px 20px;
  justify-content: end;
  align-items: center;
}

.gmail a,
.images a {
  color: #212121;
}

.gmail:hover,
.images:hover {
  text-decoration: underline;
}

.dot-menu,
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
}

.dot-menu:hover,
.profile:hover {
  background: #f0f0f0;
  border: 5px solid #f0f0f0;
}

.dot-menu a img {
  width: 100%;
  padding: 10px;
}

.profile a img {
  width: 100%;
}

/*========================
Main Area
==========================*/

.main-area {
  text-align: center;
}

.main-area form {
  margin: 30px 0;
}

.input-box {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  max-width: 584px;
  display: flex;
}

.input-box:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search img {
  width: 18px;
}

.input-text {
  width: 100%;
}

.input-text input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 1px 0;
  border: none;
  outline: none;
  color: #212121;
  font-size: 16px;
}

.voice-mic {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 15px;
}

.voice-mic img {
  width: 13px;
}

.btn-submit {
  margin-top: 30px;
}

.btn-submit input[type="submit"] {
  background: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 0 4px;
  padding: 10px 16px;
  cursor: pointer;
}

.btn-submit input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}

.language span {
  color: #3c4043;
  font-size: 14px;
}

.language a {
  font-size: 14px;
}

.language a:hover {
  text-decoration: underline;
}

/*========================
Footer Area
==========================*/

.footer {
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
}

.footer-top {
  padding: 20px 40px;
  border-bottom: 1px solid #dadce0;
}
.footer-top p {
  color: #6f6f6f;
}

.footer-bottom {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.footer-left ul,
.footer-right ul {
  list-style: none;
}

.footer-left ul li,
.footer-right ul li {
  display: inline;
  margin-right: 40px;
}

.footer-left ul li:last-child,
.footer-right ul li:last-child {
  margin-right: 0;
}

.footer-left ul li a,
.footer-right ul li a {
  color: #6f6f6f;
}

.footer-left ul li a:hover,
.footer-right ul li a:hover {
  text-decoration: underline;
}
